#mmm-start
  %h1 Welcome to MegaMegaMonitor

  %p#return-to-url{style: 'display: none;'}

  %p
    You've successfully installed MegaMegaMonitor and connected it to your Reddit account on this computer.

  %p
    MegaMegaMonitor still needs a to preload data about the private subs that you and your friends share. Once it's done that, it will
    begin showing icons next to your friends names wherever it sees them around Reddit! To get up-and-running as soon as possible,
    %strong stay on this page
    until the first lot of data downloads. It shouldn't take more than a minute, and you'll get a message below to let you know when
    it's been done.

  %p#mmm-start-setup-running
    Downloading data for the first time...

  #mmm-start-setup-done{style: 'display: none'}
    %p
      %span.mmm-icon.mmm-icon--1
      MegaMegaMonitor has downloaded data and is ready to use!
    %p
      Before you enabled MegaMegaMonitor, you were browsing
      %span#return-to-url
      \- just thought you'd want to know!